[Install]
After=rpcbind.service
Requires=rpcbind.service
Wants=remote-fs-pre.target

[Mount]
What=192.168.200.40:/mnt/lun0/software
Where=/mnt/lun0/software
Type=nfs

[Install]
WantedBy=multi-user.target
