[Unit]
Description=CouchPotato
After=rpcbind.service
After=docker.service
After=mnt-lun0-media.mount
After=mnt-lun0-software.mount
Requires=docker.service
Requires=rpcbind.service
Requires=mnt-lun0-media.mount
Requires=mnt-lun0-software.mount

[Service]
TimeoutStartSec=0
Restart=always
KillMode=none
ExecStartPre=-/usr/bin/docker stop sabnzbd
ExecStartPre=-/usr/bin/docker rm sabnzbd
ExecStart=/usr/bin/docker run --rm -v /mnt/lun0/software/docker/downloads/:/config:rw -v /mnt/lun0/media:/media:rw -p 8080:8080 --name=sabnzbd nicholasvmoore/docker-sabnzbd
ExecStop=/usr/bin/docker stop sabnzbd

[Install]
WantedBy=multi-user.target
