[Unit]
Description=Announce grafana for heapster
BindsTo=heapster-grafana.service
After=heapster-grafana.service

[Service]
ExecStart=/bin/sh -c "while true; do \
          /usr/bin/etcdctl set /production/heapster/grafana-webui `hostname`.pdx4.rlgeex.net:$(echo $(/usr/bin/docker port heapster-grafana.service 80) | cut -d ':' -f2) --ttl 60; \
          /usr/bin/sleep 45; \
          done"

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineOf=heapster-grafana.service
