[Unit]
Description=Heapster one-shot service to create the EnvironmentFile
After=etcd.service
Requires=etcd.service

[Service]
ExecStart=/usr/bin/docker run --volume=/:/rootfs:ro --volume=/var/run:/var/run:rw --volume=/sys:/sys:ro --volume=/var/lib/docker/:/var/lib/docker:ro --publish=4194:4194 --name=cadvisor --net=host google/cadvisor:latest --logtostderr --port=4194

[Install]
WantedBy=multi-user.target

[X-Fleet]
