[Unit]
Description=Influxdb for Heapster https://github.com/GoogleCloudPlatform/heapster
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=10m
Environment=""
Restart=always
ExecStartPre=/usr/bin/docker pull kubernetes/heapster_influxdb:latest
ExecStartPre=-/usr/bin/docker stop -t 2 %n
ExecStartPre=-/usr/bin/docker run --rm --name %n -p 8083:8083 -p 8086:8086 kubernetes/heapster_influxdb:latest
ExecStart=/usr/bin/docker start %n
ExecStop=/usr/bin/docker stop -t 2 %n
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

[X-Fleet]
