[Unit]
Description=Heapster Service
After=docker.service
Requires=docker.service
Requires=heapster-oneshot.service
BindsTo=heapster-oneshot.service

[Service]
TimeoutStartSec=10m
EnvironmentFile=/etc/conf.d/heapster
Restart=always
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm -f %n
ExecStartPre=/usr/bin/docker pull kubernetes/heapster:latest
ExecStart=/usr/bin/docker run \
         /usr/bin/heapster \
         --sink influxdb \
         --sink_influxdb_host=${INFLUXDB_HOST} \
         --sink_influxdb_name=${INFLUXDB_NAME} \
         --sink_influxdb_username=${INFLUXDB_USERNAME} \
         --sink_influxdb_password=${INFLUXDB_PASSWORD} \ 
         --coreos \
         --fleet_endpoints=${FLEET_ENDPOINTS} \
         --cadvisor_port=${CADVISOR_PORT}
          kubernetes/heapster:latest
ExecStop=/usr/bin/docker stop -t 2 %n

[X-Fleet]
