[Unit]
Description=Heapster Service
After=docker.service
Requires=docker.service
After=heapster-grafana-oneshot.service
Requires=heapster-grafana-oneshot.service

[Service]
TimeoutStartSec=10m
EnvironmentFile=/etc/conf.d/grafana
Restart=always
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm -f %n
ExecStartPre=-/usr/bin/docker pull kubernetes/heapster_grafana:latest
ExecStart=/usr/bin/docker run -P=true -p 80 \
          -e INFLUXDB_HOST=${INFLUXDB_HOST} \
          -e INFLUXDB_PORT=${INFLUXDB_PORT} \
          -e INFLUXDB_USER=${INFLUXDB_USER} \
          -e INFLUXDB_PASS=${INFLUXDB_PASSWORD} \
          -e INFLUXDB_NAME=${INFLUXDB_NAME} \
          --name %n \
          kubernetes/heapster_grafana:latest
ExecStop=/usr/bin/docker stop -t 2 %n

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineOf=heapster-grafana-oneshot.service
