[Unit]
Description=Grafana one-shot service to create the EnvironmentFile
After=etcd.service
Requires=etcd.service

[Service]
ExecStartPre=-/bin/sh -c '/usr/bin/rm -f /etc/conf.d/grafana'
ExecStartPre=-/bin/sh -c '/usr/bin/touch /etc/conf.d/grafana'
ExecStart=/bin/sh -c '/usr/bin/echo INFLUXDB_HOST=$(/usr/bin/etcdctl get /production/heapster/influxdb-api | cut -d\':\' -f1) > /etc/conf.d/grafana; \
                      /usr/bin/echo INFLUXDB_PORT=$(/usr/bin/etcdctl get /production/heapster/influxdb-api | cut -d\':\' -f2) >> /etc/conf.d/grafana; \
                      /usr/bin/echo INFLUXDB_USER=$(/usr/bin/etcdctl get /production/heapster/influxdb_username) >> /etc/conf.d/grafana; \
                      /usr/bin/echo INFLUXDB_PASSWORD=$(/usr/bin/etcdctl get /production/heapster/influxdb_password) >> /etc/conf.d/grafana; \
                      /usr/bin/echo INFLUXDB_NAME=$(/usr/bin/etcdctl get /production/heapster/influxdb_name) >> /etc/conf.d/grafana;'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

[X-Fleet]
